<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Ex00 : Markdown Cheatsheet</title>
	<style>
		table, th, td {
			border: solid;
			border-collapse: collapse;
		} 
	</style>
  </head>
  <body>
    <h1>Markdown Cheat Sheet</h1>
	<!-- <h2>Basic Syntax</h2> -->
	<table>
		<caption><b>Basic Syntax</b></caption>
		<tr>
			<th>Element</td>
			<th>Markdown Syntax</td>
		</tr>
		<tr>
			<td>Heading</td>
			<td>
				# H1<br>
				## H2<br>
				### H3
			</td>
		</tr>
		<tr>
			<td>Bold</td>
			<td>**bold text**</td>
		</tr>
		<tr>
			<td>Italic</td>
			<td>*italicized text</td>
		</tr>
		<tr>
			<td>Blockquote</td>
			<td>> bloquote</td>
		</tr>
		<tr>
			<td>Ordered List</td>
			<td>
				1. First item<br>
				2. Second item<br>
				3. Third item
			</td>
		</tr>
		<tr>
			<td>Unordered List</td>
			<td>
				- First item<br>
				- Second item<br>
				- Third item
			</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>`code`</td>
		</tr>
		<tr>
			<td>Horizontal Rule</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Link</td>
			<td>[title](https://www.exemple.com)</td>
		</tr>
		<tr>
			<td>Image</td>
			<td>![alt text](image.jpg)</td>
		</tr>
	</table>
	<br>
	<br>
	<br>
	<table>
		<caption><b>Extended Syntax</b></caption>
		<tr>
			<th>Element</td>
			<th>Markdown Syntax</td>
		</tr>
		<tr>
			<td>Table</td>
			<td>
				| Syntax | Description |<br>
				| ----------- | ----------- |<br>
				| Header | Title |<br>
				| Paragraph | Text |
			</td>
		</tr>
		<tr>
			<td>Fenced Code Block</td>
			<td>
				```<br>
				{<br>
  					&emsp;"firstName": "John",<br>
  					&emsp;"lastName": "Smith",<br>
  					&emsp;"age": 25<br>
				}<br>
				``` 
			</td>
		</tr>
		<tr>
			<td>Footnote</td>
			<td>
				Here's a sentence with a footnote. [^1]<br><br>
				[^1]: This is the footnote.
			</td>
		</tr>
		<tr>
			<td>Heading ID</td>
			<td>### My Great Heading {#custom-id}</td>
		</tr>
		<tr>
			<td>Definition List</td>
			<td>
				term<br>
				: definition
			</td>
		</tr>
		<tr>
			<td>Strikethrough</td>
			<td>~~The world is flat.~~</td>
		</tr>
		<tr>
			<td>Task List</td>
			<td>
				- [x] Write the press release<br>
				- [ ] Update the website<br>
				- [ ] Contact the media 
			</td>
		</tr>
		<tr>
			<td>Emoji</td>
			<td>That is so funny! :joy:</td>
		</tr>
		<tr>
			<td>Highlight</td>
			<td>I need to highlight these ==very important words==.</td>
		</tr>
		<tr>
			<td>Subscript</td>
			<td>H~2~0</td>
		</tr>
		<tr>
			<td>Superscript</td>
			<td>X^2^</td>
		</tr>
	</table>
  </body>
</html>