{% extends 'ex01/base.html' %}

{% block head %}
	Django Presentation
{% endblock head %}

{% block title %}
	<h1>Django Presentation</h1>
{% endblock title %}

{% block content %}
	<p><b>Django is a free and open-source, Python-based web framework</b></p>
	<p>Following the model-template-views (MTV) architectural pattern, the framework was named after guitarist Django Reinhardt.</p>
	<p><b>Some important dates :</b></p>
	<ul>
		<li><b>Autumn 2003</b> : Django creation</li>
		<li><b>July 2005</b> : Django is publicly released</li>
		<li><b>June 2008</b> : Django Software Foundation (DSF) would continue to maintain Django in the future</li>
	</ul>
{% endblock content %}